.jobs-page{

    min-height: 100vh;

    .jobs-title {
        position: relative;

        @media(min-width: 769px){
            position: fixed;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
        }   
    }
      
    .jobs{

        position: relative;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media(min-width: 769px){
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;

            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .job-button{
            background-color: #3f47cc;
            color: white;
        }

        .customer{
            margin-left: 5vw;
            border-radius: 5px;
            padding: 5px;
            text-align: center;
            user-select: none;

            cursor: pointer;

            @media(max-width: 768px) {
                box-shadow: 0px 0px 5px 0px rgba(155, 155, 155, 0.75);
                margin-bottom: 10px;
                width: 80vw;
            }

            @media(min-width: 769px){
                &:hover{
                    box-shadow: 0px 0px 5px 0px rgba(155, 155, 155, 0.75);
                }
            }

            .company-logo{
                width: 10em;

                @media(max-width: 1200px) {
                    width: 15vw;
                }

                @media(max-width: 992px) {
                    width: 20vw;
                }

                @media(max-width: 768px) {
                    width: 25vw;
                }

                @media(max-width: 576px) {
                    width: 35vw;
                }
            }
        }

        button{
            margin-left: 3px;
            width: 15vw;
            height: 50px;
            font-size: 1em;

            @media(max-width: 1200px){
                font-size: 0.8em;
            }

            @media(max-width: 992px){
                font-size: 0.7em;
            }

            @media(max-width: 768px){
                font-size: 6vw;
                width: 80vw;
                height: 15vw;
                margin-bottom: 5px;
            }
        }
    }
}