.image-area{
    display: flex;
    justify-content: center;
    align-items: center;

    .camera{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    
        &:hover{
            opacity: .5;
        }
    
        .scan-text {
            position: absolute; 
            font-size: 10em;
            opacity: .5;
        }
    }

    .user-picture{
        width: 100%;
    }
}
