.image-area{
    display: flex;
    justify-content: center;
    align-items: center;

    .camera{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        //max-width: 1280px;
        //max-height: 720px;
    
        &:hover{
            opacity: .75;
        }
    
        .scan-text {
            position: absolute;
            
            font-size: 5em;

            @media(max-width: 1200px){
                font-size: 8vw;
            }
        }
    }

    .user-picture{
        width: 100%;
    }
}
