.navHeading{

    .navBtn{
        color: white;
        font-size: 18px;

        &:hover{
            color: yellow;
        }
    }
}

.grid-container{

    .bg-purple{
        background-color: #3f47cc;
    }

    .content-section{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
}