.update-section{

    background-color: #8fc4b7;


    .display-items {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;

        background-color: whitesmoke;

        .logo-section, .profile-picture-section{

            width: 200px;
            height: 200px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .company-logo, .profile-picture{
                object-fit: cover;
                overflow: hidden;
            }
        }

        .display-item{ 
            width: 200px;
        }
    }
}