.tasks-page{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .tasks-title {
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
      

    .tasks{
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            margin-left: 3px;
            width: 20vw;
            height: 50px;

            @media(max-width: 1200px){
                font-size: 1.2em;
            }

            @media(max-width: 992px){
                font-size: 1em;
            }
            
            @media(max-width: 768px){
                font-size: 0.85em;
            }

            @media(max-width: 576px){
                font-size: 2vw;
            }
        }
    }
}