.profile-picture{
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;

    &:hover{
        opacity: 0.8;
    }
}

.home-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    button{
        width: 30%;
        text-wrap: none;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}